@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;900&display=swap');

body {
    font-family: 'Red Hat Display', sans-serif;
}

.logo-top {
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.logo {
    height: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 30%;
}

.img1-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -15%;
    gap: 15px;
}

.img1-2 {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}   

.img1-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.center {
    text-align: center;
    flex-basis: 40%;
}

.center-text1 {
    color: #28283D;
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
}

.center-text2 {
    color: #87879D;
    font-size: 20px;
}

.center-button1 {
    height: 55px;
    width: 200px;
    background-color: #4D96A9;
    color: white;
    border-radius: 50px;
    border: none;
    margin: 15px;
}

.button1-text {
    font-weight: 700;
}

.center-button1:hover {
    background-color: #71C0D4;
}

.button-text {
    color: #8FE3F9;
    font-weight: 600;
}

.center-button2 {
    background-color: #855FB1;
    height: 55px;
    width: 150px;
    color: white;
    border-radius: 50px;
    border: none;
    margin: 15px;
}

.center-button2:hover {
    background-color: #D9B8FF;
}

.button2-text {
    font-size: 15px;
    font-weight: 600;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-basis: 30%;
    overflow: hidden;
}

.img2-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img2-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
}

.img2-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: -15%;
}

.img_style {
   border-radius: 50%;
   width: 100%;
}

.line_and_circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.line {
    border-left: 1px solid #87879D;
    height: 80px;
}

.circle {
    border-radius: 50%;
    border: 1px solid #87879D;
    padding: 10px;
    background-color: white;
    width: 20px;
    text-align: center;
}

.number {
    color: #87879D;
    font-size: 14px;
}

.main-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;    
    margin-top: 40px;
}

.img_chat {
    height: auto;
    width: 20%;
    padding: 15px;
    border-radius: 25px;
}

.main-text {
    margin: 0 auto;
    max-width: 450px;
    margin-top: 100px;
}

.subtitle {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #4D96A9;
    letter-spacing: 3px;
    word-spacing: 2px;
}

.subtitle-text1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    height: 800;
    color: #28283D;
    margin-top: -5px;
}

.subtitle-text2 {
    text-align: center;
    color: #87879D;
    font-size: 16px;
    font-weight: 500;
}

.line_and_circle_2 {
    color: #87879D;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: -20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(77, 150, 168, 0.9), rgba(77, 150, 168, 0.9)), url(/starter-code/assets/desktop/image-footer.jpg);
    padding: 90px 0 70px 0;
    width: 100%;
    align-items: center;
}

.box1 {
    color: white;
    font-size: 43px;
    padding: 0 50px;
    text-align: left;
    font-weight: 900;
    width: 33.33%;    
    /* margin: 15px; */
}

.box2 {
    color: white;
    width: 33.33%;    
    font-size: 23px;
    text-align: left;
    /* margin: 15px; */
}

.text {
    font-weight: 500;
}

.box3 button {
    height: 50px;
    width: 180px;
    border-radius: 50px;
    background-color: #855FB1;
    color: white;
    margin-left: 50px;
    border: none;
    margin: 15px;
}

.box3 button:hover {
    background-color: rgb(217, 184, 255, 0.65);
}

.footer-button-text {
    color: #D9B8FF;
    font-weight: 600;
}

@media screen and (max-width: 1025px) {
    .top {
        flex-wrap: wrap;
    }
    
    .center {
        flex-basis: 100%;
        order: 2;
    }
    .left {
        flex-basis: 50%;
    }
    
    .right {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 770px) {

    .subtitle {
        font-size: 19px;
        letter-spacing: 4px;
    }

    .subtitle-text2 {
        font-size: 18px;
        width: 100%;
        text-align: center;
    }

    .main-text {
        margin-top: 40px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .box1 {
        text-align: center;
        /* margin: 0 50px; */
        font-size: 60px;
        width: 100%;
        font-weight: 700;
    }
    
    .box2 {
        width: 100%;
        text-align: center;
        font-size: 23px;
        margin: 0 50px;
    }
    /* .text {
        text-align: center;
        margin: 0 60px;
    } */
}

@media screen and (max-width: 375px) {
    .main-img {
        flex-wrap: wrap;
    }

    .img_chat {
        /* flex-basis: calc(50% - 30px); */
        flex-basis: 50%;
        box-sizing: border-box;
    }
    
    .center-text1 {
        font-size: 50px;
    }

    .center-text2 {
        font-size: 17px;
        margin-bottom: 40px;
    }

    .subtitle-text1 {
        font-size: 35px;
    }

    .subtitle-text2 {
        line-height: 1.6;
    }

    .line_and_circle {
        margin-top: 50px;
    }
    
    .main-text {
        margin-top: 50px;
    }

    .box1 {
        font-size: 30px;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .box2 {
        font-size: 21px;
        width: 100%;
        text-align: center;
        line-height: 1.6;
    }
}